@import "./variable";
@import "./reset";

// Common
section {
  padding: 2rem;
}

section:nth-child(even) {
  background: $gray-light-color;
}

.sub-heading {
  text-align: center;
  color: $green;
  font-size: 2rem;
  padding-top: 1rem;
}

.heading {
  text-align: center;
  color: $black;
  font-size: 3rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.7rem;
  color: $font-main-color;
  background: $black;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.8rem 3rem;
}

.btn:hover {
  background: $green;
  letter-spacing: 0.1rem;
}

// Header Start
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: $font-main-color;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: $box-shadow;
  .logo {
    color: $black;
    font-size: 2.5rem;
    font-weight: bolder;

    i {
      color: $green;
    }
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

    a {
      display: block;
      padding: 1.5rem;
      margin: 1rem;
      font-size: 2rem;
      background: #eee;

      @media (min-width: 790px) {
        border-radius: 0.5rem;
        padding: 1.5rem; 
        color: $light-color;
      }

      &:hover {
        color: $font-main-color;
        background: $green;
      }
    }

    a.active {
      color: $font-main-color;
      background: $green;
    }
  }

  .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .icons {  
    #menu-bars {
      display: inline-block;
    }

    i,
    a {
      cursor: pointer;
      margin-left: 0.5rem;
      height: 4.5rem;
      line-height: 4.5rem;
      width: 4.5rem;
      text-align: center;
      font-size: 1.7rem;
      color: $black;
      border-radius: 50%;
      background: $gray-light-color;
      &:last-child {
        margin-left: 20px;
      }

      &:hover {
        color: $font-main-color;
        background: $green;
        transform: rotate(360deg);
      }
    }
  }
}
// Header End


// Search Form Start
#search-form {
  position: fixed;
  top: -110%;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1004;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;

  // Search Input
  #search-box {
    width: 90%;
    margin: 0 2rem;
    border-bottom: 0.1rem solid #fff;
    padding: 1rem 0;
    color: #fff;
    font-size: 3rem;
    text-transform: none;
    background: none;

    @media (min-width: 790px) {
      width: 50rem;
    }

    &::placeholder {
      font-size: 20px;
      color: #eee;
    }

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }
  }

  // Search Button
  label {
    color: #fff;
    cursor: pointer;
    font-size: 3rem;

    &:hover {
      color: var(--green);
    }
  }

  // Close Search Form Button
  #close {
    position: absolute;
    color: #fff;
    cursor: pointer;
    top: 2rem;
    right: 3rem;
    font-size: 5rem;
  }
}

#search-form.active {
  top: 0;
}
// Search Form End



// Dishes Start
.dishes {
  margin-top: 5.6rem;
}
.dishes-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  gap:1.5rem;
  .box{
    padding:2.5rem;
    background:#fff;
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.2);
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;
    .box-img{
      height:17rem;
      margin:1rem 0;
    }
    .box-title{
      color:var(--black);
      font-size: 2.5rem;
    }
    .stars{
      padding:1rem 0;
      i{
        font-size: 1.7rem;
        color:var(--green);
      }
    }
    .box-price{
      color:$green;
      font-weight: bolder;
      margin-right: 1rem;
      font-size: 2.5rem;
    }

  }
}
// Dishes End


// Footer Start
.footer {
  width: 100%;
  background-color: $gray-dark-color;

  .social-list-wrap {
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
    border-bottom: 1px solid $font-main-color;
    margin: 0 16px;
    @media (min-width: 790px) {
      justify-content: start;
    }
  }

  .social-item-link {
    color: $gray-light-color;
    font-size: 30px;
    text-decoration: none;

    @media (min-width: 790px) {
      padding-left: 26px;
    }

    &:hover {
      color: $font-main-color;
    } 

  }

  .description-website {
    width: 90%;
    margin: auto;
    padding: 20px 0px;
  }

  .description-content {
    color: $gray-light-color;
    font-size: 14px;
    text-align: center;
  }

  .created-address-website {
    width: 90%;
    margin: auto;
    padding: 10px 0px;
  }

  .created-address-content {
    color: $gray-light-color;
    font-size: 14px;
    text-align: center;

    .heart-icon {
      color: $red-color;
    }

  }

}
// Footer End



