* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  padding: 0;
  margin: 0;
  line-height: 1.4;
  font-size: 50%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}

a {
  cursor: pointer;
}
a:hover {
  transition: all 0.2s;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin-bottom: 0;
}

section {
  padding: 2rem;
}

section:nth-child(even) {
  background: #8b8686;
}

.sub-heading {
  text-align: center;
  color: #27ae60;
  font-size: 2rem;
  padding-top: 1rem;
}

.heading {
  text-align: center;
  color: #192a56;
  font-size: 3rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.7rem;
  color: #fff;
  background: #192a56;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.8rem 3rem;
}

.btn:hover {
  background: #27ae60;
  letter-spacing: 0.1rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}
header .logo {
  color: #192a56;
  font-size: 2.5rem;
  font-weight: bolder;
}
header .logo i {
  color: #27ae60;
}
header .navbar {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
header .navbar a {
  display: block;
  padding: 1.5rem;
  margin: 1rem;
  font-size: 2rem;
  background: #eee;
}
@media (min-width: 790px) {
  header .navbar a {
    border-radius: 0.5rem;
    padding: 1.5rem;
    color: #666;
  }
}
header .navbar a:hover {
  color: #fff;
  background: #27ae60;
}
header .navbar a.active {
  color: #fff;
  background: #27ae60;
}
header .navbar.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
header .icons #menu-bars {
  display: inline-block;
}
header .icons i,
header .icons a {
  cursor: pointer;
  margin-left: 0.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  width: 4.5rem;
  text-align: center;
  font-size: 1.7rem;
  color: #192a56;
  border-radius: 50%;
  background: #8b8686;
}
header .icons i:last-child,
header .icons a:last-child {
  margin-left: 20px;
}
header .icons i:hover,
header .icons a:hover {
  color: #fff;
  background: #27ae60;
  transform: rotate(360deg);
}

#search-form {
  position: fixed;
  top: -110%;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1004;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}
#search-form #search-box {
  width: 90%;
  margin: 0 2rem;
  border-bottom: 0.1rem solid #fff;
  padding: 1rem 0;
  color: #fff;
  font-size: 3rem;
  text-transform: none;
  background: none;
}
@media (min-width: 790px) {
  #search-form #search-box {
    width: 50rem;
  }
}
#search-form #search-box::placeholder {
  font-size: 20px;
  color: #eee;
}
#search-form #search-box::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
#search-form label {
  color: #fff;
  cursor: pointer;
  font-size: 3rem;
}
#search-form label:hover {
  color: var(--green);
}
#search-form #close {
  position: absolute;
  color: #fff;
  cursor: pointer;
  top: 2rem;
  right: 3rem;
  font-size: 5rem;
}

#search-form.active {
  top: 0;
}

.dishes {
  margin-top: 5.6rem;
}

.dishes-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  gap: 1.5rem;
}
.dishes-container .box {
  padding: 2.5rem;
  background: #fff;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: var(--box-shadow);
  position: relative;
  overflow: hidden;
  text-align: center;
}
.dishes-container .box .box-img {
  height: 17rem;
  margin: 1rem 0;
}
.dishes-container .box .box-title {
  color: var(--black);
  font-size: 2.5rem;
}
.dishes-container .box .stars {
  padding: 1rem 0;
}
.dishes-container .box .stars i {
  font-size: 1.7rem;
  color: var(--green);
}
.dishes-container .box .box-price {
  color: #27ae60;
  font-weight: bolder;
  margin-right: 1rem;
  font-size: 2.5rem;
}

.footer {
  width: 100%;
  background-color: #3d3a3a;
}
.footer .social-list-wrap {
  display: flex;
  justify-content: space-around;
  padding: 10px 0px;
  border-bottom: 1px solid #fff;
  margin: 0 16px;
}
@media (min-width: 790px) {
  .footer .social-list-wrap {
    justify-content: start;
  }
}
.footer .social-item-link {
  color: #8b8686;
  font-size: 30px;
  text-decoration: none;
}
@media (min-width: 790px) {
  .footer .social-item-link {
    padding-left: 26px;
  }
}
.footer .social-item-link:hover {
  color: #fff;
}
.footer .description-website {
  width: 90%;
  margin: auto;
  padding: 20px 0px;
}
.footer .description-content {
  color: #8b8686;
  font-size: 14px;
  text-align: center;
}
.footer .created-address-website {
  width: 90%;
  margin: auto;
  padding: 10px 0px;
}
.footer .created-address-content {
  color: #8b8686;
  font-size: 14px;
  text-align: center;
}
.footer .created-address-content .heart-icon {
  color: red;
}